{% extends 'fontend/base.html' %}
{% load static %}


{% block content %}

<!-- Start of Avis Page -->

<div class="container my-5">

    <!-- Title and Introduction -->
    <h1 class="display-3 text-center text-black   ">Vos Avis Comptent Pour Nous !</h1>
    <p class="lead text-center text-black">
        Nous apprécions votre opinion et vos suggestions. Laissez-nous un avis ou partagez votre expérience avec
        CamerSchoolMap. Vos retours nous aident à nous améliorer et à offrir un service de meilleure qualité.
    </p>

    <!-- Search Bar for Reviews -->
    <div class="search-bar mb-4">
        <div class="input-group">
            <input type="text" class="form-control" id="search-bar"
                placeholder="Entrez le nom d'un établissement ici pour chercher un avis à propos de ce dernier"
                aria-label="Rechercher un avis">
            <div class="input-group-append">
                <button class="btn btn-success" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>


        <div class="container_avis">
            <!-- Form to Submit Review -->
            <h3 class="mb-3 text-center my-5 h2"> <i class="fas fa-star fa-2x text-warning"></i> Laissez un Avis
            </h3>


            <!-- Formulaire d'avis -->
            <form>
                <div class="mb-3">
                    <label for="typeAvis" class="form-label h4">Type d'avis</label>
                    <select id="typeAvis" class="form-select bg-secondary p-2 px-5 mx-5 rounded border-0">
                        <option value="site">Site en général</option>
                        <option value="etablissement">Établissement</option>
                    </select>
                </div>

                <!-- Nom complet -->
                <div class="mb-3">
                    <label for="nom" class="form-label"><i class="fas fa-user mx-3 text-warning"></i>Nom complet
                        (optionnel)</label>
                    <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom">
                </div>

                <!-- Adresse e-mail -->
                <div class="mb-3">
                    <label for="email" class="form-label"> <i class="fas fa-envelope mx-3 text-warning"></i>Adresse
                        e-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Entrez votre adresse e-mail">
                </div>

                <!-- Sujet -->
                <div class="mb-3">
                    <label for="sujet" class="form-label"> <i
                            class="fas fa-pencil-alt mx-3 text-warning"></i>Sujet</label>
                    <input type="text" class="form-control" id="sujet" placeholder="Entrez le sujet de votre avis">
                </div>

                <!-- Avis -->
                <div class="mb-3">
                    <label for="avis" class="form-label"> <i class="fas fa-comment mx-3 text-warning"></i>Votre avis
                        ou
                        commentaire</label>
                    <textarea id="avis" class="form-control" rows="5" placeholder="Rédigez votre avis ici"></textarea>
                </div>

                <!-- Bouton d'envoi -->
                <button type="submit" class="btn btn-success w-20"> <i
                        class="fas fa-paper-plane mx-3 text-warning"></i>Envoyer mon avis</button>
            </form>
        </div>


        <!-- Modal pour le nom de l'établissement -->
        <div class="modal fade" id="etablissementModal" tabindex="-1" aria-labelledby="etablissementModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="etablissementModalLabel">Nom de l'établissement</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="nomEtablissement" class="form-label">Veuillez entrer le nom de l'établissement
                            :</label>
                        <input type="text" class="form-control" id="nomEtablissement"
                            placeholder="Nom de l'établissement">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Valider</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- ================== avis recent=============== -->
    <div id="carouselExampleIndicators" class="carousel slide my-5" data-ride="carousel">
        <h1 class="text-center ">Avis Récents</h1>
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <i class="fa fa-user review-icon"></i>
                <p class="review-text">"Excellent service, le site est très intuitif et facile à utiliser !"</p>
                <div class="review-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="review-author">Jean Dupont</div>
                <div class="review-date">Publié le 21 Décembre 2024</div>
            </div>
            <div class="carousel-item">
                <i class="fa fa-user review-icon"></i>
                <p class="review-text">"Excellent service, le site est très intuitif et facile à utiliser !"</p>
                <div class="review-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="review-author">Jean pierre</div>
                <div class="review-date">Publié le 21 Décembre 2024</div>
            </div>
            <div class="carousel-item">
                <i class="fa fa-user review-icon"></i>
                <p class="review-text">"Excellent service, le site est très intuitif et facile à utiliser !"</p>
                <div class="review-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="review-author">Jean luc</div>
                <div class="review-date">Publié le 21 Décembre 2024</div>
            </div>
            <div class="carousel-item">
                <i class="fa fa-user review-icon"></i>
                <p class="review-text">"Excellent service, le site est très intuitif et facile à utiliser !"</p>
                <div class="review-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="review-author">Jean lucien</div>
                <div class="review-date">Publié le 21 Décembre 2024</div>
            </div>
            <div class="carousel-item">
                <i class="fa fa-user review-icon"></i>
                <p class="review-text">"Excellent service, le site est très intuitif et facile à utiliser !"</p>
                <div class="review-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="review-author">Jean jacques</div>
                <div class="review-date">Publié le 21 Décembre 2024</div>
            </div>
            <div class="carousel-item">
                <i class="fa fa-user review-icon"></i>
                <p class="review-text">"Excellent service, le site est très intuitif et facile à utiliser !"</p>
                <div class="review-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="review-author">Jean lucas</div>
                <div class="review-date">Publié le 21 Décembre 2024</div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <div class="container mt-5">
        <div class="row">
            <!-- Première critique -->
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex">
                            <!-- Icône de personne -->
                            <div class="me-3">
                                <i class="fa fa-user review-icon mx-2"></i>
                            </div>
                            <!-- Informations de la critique -->
                            <div>
                                <h5 class="card-title mb-1">Nom de la Personne</h5>
                                <p class="card-text text-muted mb-2">20 Décembre 2024</p>
                                <!-- Etoiles jaunes -->
                                <div class="mb-2">
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-muted">&#9734;</span>
                                </div>
                                <!-- Commentaire -->
                                <p class="card-text">Voici le commentaire de la personne à propos de
                                    l'établissement. Elle parle de son expérience, des services et de l'accueil reçu
                                    lors de sa visite.</p>
                            </div>
                        </div>
                        <div>
                            <a href="#" class=" btn btn-outline-danger"><i class="fas fa-trash text-warning"></i>
                                cliquer ici pour supprimer l'avis</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex">
                            <!-- Icône de personne -->
                            <div class="me-3">
                                <i class="fa fa-user review-icon mx-2"></i>
                            </div>
                            <!-- Informations de la critique -->
                            <div>
                                <h5 class="card-title mb-1">Nom de la Personne</h5>
                                <p class="card-text text-muted mb-2">20 Décembre 2024</p>
                                <!-- Etoiles jaunes -->
                                <div class="mb-2">
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-muted">&#9734;</span>
                                </div>
                                <!-- Commentaire -->
                                <p class="card-text">Voici le commentaire de la personne à propos de
                                    l'établissement. Elle parle de son expérience, des services et de l'accueil reçu
                                    lors de sa visite.</p>
                            </div>
                        </div>
                        <div>
                            <a href="#" class=" btn btn-outline-danger"><i class="fas fa-trash text-warning"></i>
                                cliquer ici pour supprimer l'avis</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex">
                            <!-- Icône de personne -->
                            <div class="me-3">
                                <i class="fa fa-user review-icon mx-2"></i>
                            </div>
                            <!-- Informations de la critique -->
                            <div>
                                <h5 class="card-title mb-1">Nom de la Personne</h5>
                                <p class="card-text text-muted mb-2">20 Décembre 2024</p>
                                <!-- Etoiles jaunes -->
                                <div class="mb-2">
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-warning">&#9733;</span>
                                    <span class="text-muted">&#9734;</span>
                                </div>
                                <!-- Commentaire -->
                                <p class="card-text">Voici le commentaire de la personne à propos de
                                    l'établissement. Elle parle de son expérience, des services et de l'accueil reçu
                                    lors de sa visite.</p>
                            </div>
                        </div>
                        <div>
                            <a href="#" class=" btn btn-outline-danger"><i class="fas fa-trash text-warning"></i>
                                cliquer ici pour supprimer l'avis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="col-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">&#8592; Précédent</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Suivant &#8594;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<section class="container mt-5 my-5">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title mb-3">Pourquoi vos avis sont importants ?</h3>
                    <p class="card-text mb-4">
                        Vos avis sont essentiels pour nous aider à améliorer constamment nos services. En partageant
                        vos expériences, vous contribuez à guider d'autres personnes dans leur choix et à nous
                        fournir des informations précieuses sur ce que nous faisons bien et les
                        domaines dans lesquels nous pouvons nous améliorer. Chaque commentaire compte et nous aide à
                        offrir une meilleure expérience à nos clients.
                    </p>
                    <h5 class="card-title">Confidentialité et respect de vos données</h5>
                    <p class="card-text">
                        Soyez assuré que la confidentialité de vos informations est une priorité pour nous. Nous
                        respectons la protection de vos données personnelles et nous nous engageons à ne jamais
                        partager vos informations sans votre consentement explicite. Vos avis seront
                        utilisés uniquement à des fins d'amélioration de notre service, dans le strict respect de la
                        législation en vigueur sur la protection des données.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>












<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {

        // Gestion de la barre de recherche
        $("#search-bar").on("keyup", function () {
            const query = $(this).val().toLowerCase();
            console.log("Recherche: ", query); // Vérifie la valeur de la recherche
            $(".school-card").filter(function () {
                const text = $(this).text().toLowerCase();
                console.log("Texte de l'élément: ", text); // Vérifie le texte de l'élément
                $(this).toggle(text.includes(query));
            });
        });
    });
    // Afficher ou cacher le modal en fonction de l'option sélectionnée
    $('#typeAvis').on('change', function () {
        var selectedValue = $(this).val();
        if (selectedValue === 'etablissement') {
            $('#etablissementModal').modal('show');
        }
    });
</script>

{% endblock %}