<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'fontend/images/img1-removebg-preview.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontend/css/style.css' %}">
    <title>conexion</title>
</head>

<body class="body_connexion">

    <div class="container1">
        <div class="form_box login">
            <form action="" class="form1">
                <h1 class="titre">Login</h1>
                <div class="input_box">
                    <input type="text" placeholder="Username" required>
                    <i class="fas fa-user users"></i>
                </div>


                <div class="input_box">
                    <input type="password" placeholder="password" required>
                    <i class="fas fa-lock users"></i>
                </div>

                <div class="forgot_link">
                    <a href="#"> Forgot password</a>
                </div>

                <button type="submit" class="btn_submit">Login</button>
                <p>or login with social platforms</p>

                <div class="social_icon">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-google-plus"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </form>


        </div>
        <div class="form_box register">
            <form action="" class="form1">
                <h1 class="titre">Registration</h1>
                <div class="input_box">
                    <input type="text" placeholder="Username" required>
                    <i class="fas fa-user users"></i>
                </div>

                <div class="input_box">
                    <input type="email" placeholder="Email" required>
                    <i class="fas fa-envelope users"></i>
                </div>

                <div class="input_box">
                    <input type="password" placeholder="password" required>
                    <i class="fas fa-lock users"></i>
                </div>


                <div class="input_box">
                    <input type="number" placeholder="phone number" required>
                    <i class="fas fa-phone users"></i>
                </div>

                <button type="submit" class="btn_submit">Register</button>
                <p>or register with social platforms</p>

                <div class="social_icon">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-google-plus"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </form>


        </div>




        <div class="toggle_box">
            <div class="toggle_pane1 toggle_left">
                <h1>Hello, welcome</h1>
                <p>Don't have an account</p>
                <button class="btn_submit register_btn"> Register</button>
            </div>

            <div class="toggle_pane1 toggle_rigth">
                <h1> welcome Back!</h1>
                <p>Already have an account</p>
                <button class="btn_submit login_btn"> Login</button>
            </div>
        </div>
    </div>













    <script src="{% static 'fontend/js/js.js' %}"></script>
</body>

</html>