{% extends 'backend/base.html' %}
{% load static %}


{% block content %}


<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card">
                    <div class="card-body py-0 px-0 px-sm-3">
                        <div class="row align-items-center">
                            <div class="col-4 col-sm-3 col-xl-2">
                                <img src="{% static 'backend/assets/images/Group126@2x.png' %}"
                                    class="gradient-corona-img img-fluid" alt="">
                            </div>
                            <div class="col-5 col-sm-7 col-xl-8 p-0">
                                <h4 class="mb-1 mb-sm-0">Salut chers administrateur du site et bienvenue sur
                                    <strong>CamerSchoolMap</strong>
                                </h4>
                                <p class="mb-0 font-weight-normal d-none d-sm-block"> Ici vous avez un control total sur
                                    le site
                                </p>
                            </div>
                            <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                                <span>
                                    <a href="{% url 'dashbord' %}" target="_blank"
                                        class="btn btn-outline-light btn-rounded get-started-btn">Less Go</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Users</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">1234</h2>
                                </div>
                                <h6 class="text-muted font-weight-normal">utlisateur sur le site</h6>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-account-multiple text-success ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Chefs d'etablissements scolaire</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">5850</h2>
                                </div>
                                <h6 class="text-muted font-weight-normal">chefs d'etablissements</h6>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-account text-danger ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Etablissement scolaire</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">2039</h2>
                                </div>
                                <h6 class="text-muted font-weight-normal">etablissements scolaires</h6>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-school text-warning ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Statistique des visites sur le site</h4>
                        <canvas id="lineChart" style="height:250px"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Statistique sur le nombre de clients satisfaits</h4>
                        <canvas id="barChart" style="height:230px"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Historique des utlisateur sur le site</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> id </th>
                                        <th> Nom </th>
                                        <th> Email </th>
                                        <th> numero de telephone </th>
                                        <th> Status </th>
                                        <th>action requise</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> #1 </td>
                                        <td>
                                            <span class="pl-2">Henry Klein</span>
                                        </td>
                                        <td> junior@gail.com </td>
                                        <td> 655969010 </td>
                                        <td>
                                            <div class="badge badge-outline-success">Admin</div>
                                        </td>
                                        <td style="display: flex;">
                                            <button class="btn  btn-outline-danger text-white mx-3"> <i
                                                    class="mdi mdi-delete text-white"></i></button>
                                            <button class="btn  text-white btn-outline-primary"> Modifier</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> #1 </td>
                                        <td>
                                            <span class="pl-2"> junior talla marie</span>
                                        </td>
                                        <td> junior@gail.com </td>
                                        <td> 655969010 </td>
                                        <td>
                                            <div class="badge badge-outline-success">Chefs d'etablissement</div>
                                        </td>
                                        <td style="display: flex;">
                                            <button class="btn  btn-outline-danger text-white mx-3"> <i
                                                    class="mdi mdi-delete text-white"></i></button>
                                            <button class="btn  text-white btn-outline-primary"> Modifier</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> #2 </td>
                                        <td>
                                            <span class="pl-2">junior talla marie</span>
                                        </td>
                                        <td> junior@gail.com </td>
                                        <td> 655969010 </td>
                                        <td>
                                            <div class="badge badge-outline-warning">Utilisateur</div>
                                        </td>
                                        <td style="display: flex;">
                                            <button class="btn btn-outline-danger text-white mx-3"> <i
                                                    class="mdi mdi-delete text-white"></i></button>
                                            <button class="btn text-white btn-outline-primary"> Modifier</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- Pagination -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}